django==4.2.10
psycopg[binary] 
djangorestframework==3.14.0
djangorestframework-simplejwt
django-cors-headers
django-extensions
python-decouple
requests
python-dotenv
Djoser
uvicorn
pillow
daphne
httpx

docker
channels
channels-redis
selenium